$black: #080C0B;
$white: #F2FFFD;
$blue: #6DFFF6;
$blue-2: #376e6b;
$blue-3: #3d8682;

$gray-1: #777;
$gray-2: rgb(28, 53, 49);

.color-gray{
    color: $gray-1;
}
.blue{
    color: $blue !important;
}