//MENU

.menu, .button{
    width: 100%;
    //position: fixed;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    
    padding: 32px 16px;
}

.relative{
    position: relative;
}

.bg-hero{
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: 100%;
    
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:850px){
    .bg-hero{
        transform: rotate(90deg) scale(2);
        top: 0;
        left: 0;
        
    }
}

.container{
    max-width: 1220px;
    margin:0 auto;
    padding: 24px 16px;
    display: flex;
    text-align: right;
    justify-content: center;

    flex-direction: row;
    align-items: center;
    
    h3{
        color: $blue;
    }
}

img{
    max-width: 350px;
    border-radius: 50px 50px 50px 50px;
}


.container-item:nth-child(1){
    margin: 20px;
}

.container-item:nth-child(2){
    margin: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width:850px){
    .menu{
        transition: .5s ease;
        display: none;       
    }
    .hero{
        height: auto;
    }
    .container{
        flex-direction: column;
    }
    img{
        max-width: 250px;
    }
}

.list-works{
    max-width: 1200px;

    margin: 0 auto;
    padding: 24px 24px;
}
.list-item{
    p{
        opacity: 0;
        transition: 1s ease;
    }
    &:hover{
        p{
            opacity: 1;
        }
    }
}

.list-title{
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 16px;

    justify-content: center;
    text-align: center;
}
.link-work{
    &:hover{
        opacity: .7;
    }
    h6{
        color: $blue;
    }
}
@media screen and (max-width:850px){
    .list-works{
        p{
            display: none;
        }
    }
}

.list-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 62px 36px;
}
.list-item:nth-child(1){
    justify-content: center;
    h2{
        text-align: center;
    }
}

.ELI1{
    transform-origin: center center;
    animation: translate 40s ease infinite forwards;
}

.ELI2{
    transform-origin: center center;
    animation: translate 20s ease infinite forwards;
}

.ELI3{
    transform-origin: center center;
    animation: translate 30s ease infinite forwards;
}

.ELI4{
    transform-origin: center center;
    animation: translate 25s ease infinite forwards;
}

@keyframes translate{
    0%{
        transform: translate(0%, 0%);
    }
    25%{
        transform: translate(10%, 5%);
    }
    50%{
        transform: translate(10%, 10%);
    }
    75%{
        transform: translate(5%, 10%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}
.about-me{
    position: relative;
    margin: 0 auto;
    //display: flex;
    //justify-content: center;
    max-width: 1200px;
    text-align: center;
}
.about-title{
    position: relative;

    max-width: 1200px;

    display: flex;

    justify-content: center;
}

.skills{
    position: relative;
    margin: 0 auto;

    max-width: 1200px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    h3{
        text-align: center;
    }
    h5{
        margin-top: 16px;
        text-align: center;
    }
}

.contacts{
    position:relative;
    margin: 0 auto;

    max-width: 1200px;
    //display: flex;
    justify-content: center;
}

.contacts-text{
    position: relative;
    margin: 0 auto;

    max-width: 600px;

    justify-content: center;
    align-items: center;
    
    transition: .5s ease;

    padding: 24px 16px;
    h2{
        text-align: center;
    }
    h4{
        text-align: center;
        &:hover{
            opacity: .7;
        }
    }
    
}
