h1, h2, h3, h4, h5, h6, p, a, button{
    font-family: 'Poppins', sans-serif;
    color: $white;
    font-weight: 200;
}
a{
    text-decoration: none;
}
.link, .button{
    padding: 16px 24px;
    font-size: 20px;

    display: inline-block;
    transition: .5s ease;
    position: relative;
    
    &::after{
        content: '';
        display: block;
        position :absolute;

        top: 100%;
        left: 0;

        width: 0%;
        height: 2px;

        transform: translate(22%, 10%);
        transition: .5s ease;
        background-color: $blue;
    }
    
    &:hover{
        opacity: .6;

        &::after{
            width:70%;
        }
    }
}

h1{
    font-size: 72px;
    line-height: 100%;
}

h2{
    font-size: 56px;
    line-height: 110%;
}

h3{
    font-size: 44px;  
    line-height: 110%; 
}

h4{
    font-size: 32px;  
    line-height: 120%; 
}


h5{
    font-size: 24px;  
    line-height: 130%; 
}

h6{
    font-size: 18px;  
    line-height: 140%; 
}

p{
    font-size: 24px;  
    line-height: 150%; 
}

@media screen and (max-width:850px){
    h1{
        font-size: 64px;
    }
    
    h2{
        font-size: 48px;   
    }
    
    h3{
        font-size: 36px;   
    }
    
    h4{
        font-size: 24px;   
    }
    
    
    h5{
        font-size: 16px;   
    }
    
    h6{
        font-size: 12px;   
    }
    
    p{
        font-size: 24px;   
    }
    
}

.square{
    display: inline-block;
    margin-top: 64px;
    padding: 16px 24px;
    font-size: 24px;

    position: relative;
    transition: .5s ease;
    opacity: 80%;

    color: $white;
    cursor: pointer;
    border: none;
    background-color: inherit;
    &::after{
        content: '';
        display: block;

        position: absolute;
        top:0;
        left: 0;

        z-index: -1;

        width: 100px;
        height: 100px;

        transform: translate(10%, -20%) rotate(45deg);
        transition: .5s ease;

        //background: $blue;
        background: linear-gradient(315deg, #1ec2d8 20%, $black 70%);
        //opacity: 70%;
        border-radius: 6px;

       
    }

    &:hover{
            transform: translate(0%, 20%);
            opacity: 100%;
    }
}
@media screen and (max-width:850px){
    .square{
        display: none;
    }
}